.phase-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phase-wrapper i {
  background: linear-gradient(135deg, #ff5f6d 0%, #ffc371 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.phase-wrapper h2 {
  margin: 20px 0;
  text-align: center;
}

.phase-wrapper p {
  text-align: center;
  width: 80%;
  margin: 0;
}